
.galeria {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    
}

/* .container {
    margin-inline: 15%;
}

@media (max-width: 992px) {
    .container {
        margin-inline: 0vh;
    }
} */