.div {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 340px;
    max-height: 200px;
    height: 200px;
    /* transition: height 0.3 ease-in-out;
    transition: max-height 0.3 ease-in-out; */
    overflow: hidden;
    
}

/* .divAboutMe {
    max-height: 400px;
    height: 400px;
} */

.foto {
    height: 0;
    border-radius: 100%;
    transition: height 0.3s ease-in-out;
}

.fotoAboutMe {

    height: 200px;

}

.texto {
    color: #fff;
    position: absolute;
    text-align: center;
    

}

.func {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 500;
    color: #d4d4d4;
}


.nome {
    color: #fff;
    /* position: absolute; */
    /* align-items: flex-end; */
    margin: 0;
}

.capa {
    width: 100%;
    height: auto;
    min-height: 400px;
    object-fit: cover;
    /* position: absolute; */
    top: 0;


    /* width: ; */
    /* background-size: auto; */
}