.cabecalho {
    background-color: #222;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    padding: 121px;
    
}

.div {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    min-height: 340px;
    max-height: 400px;
    
}

.foto {
    height: 130px;
    border-radius: 100%;
}

.texto {
    color: #fff;
    position: absolute;
    text-align: center;

}

.func {
    margin-top: 5px;
    margin-bottom: 50px;
    font-weight: 500;
    color: #c7c7c7;
}


.nome {
    color: #fff;
    /* position: absolute; */
    align-items: flex-end;
    margin: 0;
}

.capa {
    width: 100%;
    height: auto;
    min-height: 400px;
    object-fit: cover;
    /* position: absolute; */
    top: 0;


    /* width: ; */
    /* background-size: auto; */
}